<ul>
  <li>
    <label for="contact[name]">Name</label>
    <input type="text" name="contact[name]" value="<%= contact.name %>" />
  </li>
  <li>
    <label for="contact[email]">Email</label>
    <input type="text" name="contact[email]" value="<%= contact.email %>" />
  </li>
  <li>
    <input type="submit" value="Save" />
  </li>
</ul>
